{% extends 'layout.html' %}
{% block body %}
    <div class="container">
        <div class="text-center my-2">
            <h2 class="fw-bold">{{ title }}</h2>
        </div>
        <!-- items -->
        <div class="row my-2 g-3">
            {% for onlineItem in onlineItems.items%}
            <div class="col-md-6 col-xl-4 justify-content-center">
                <div class="card border-secondary text-center">
                    <div class="card-body">
                        <h5 class="sell-title">主題 : {{ onlineItem.name }}</h5>
                        <p class="card-text">內文 : {{ onlineItem.intro }}</p>
                        <p class="card-text">Time : {{ onlineItem.price }}</p>
                        <p class="card-text">Name : {{ onlineItem.uploader_id }}</p>
                    <div class="my-2">
                        <img class="online-img" src="{{url_for('static', filename='/items/' + onlineItem.image1 )}}">
                    </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
