{% extends 'layout.html' %}

{% block body %}
    <div class="container my-3">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h5 class="card-text">我是賣家</h5>
                <p class="card-text">刊登你想販售的商品!</p>
                <a href="{{ url_for('upload_sell') }}" class="btn btn-block bg-gradient-warning">點擊這裡</a>
            </div>
            <div class="col-md-6 text-center">
                <h5 class="card-text">我是買家</h5>
                <p class="card-text">刊登你想收購的商品!</p>
                <a href="{{ url_for('upload_want') }}" class="btn btn-block bg-gradient-warning">點擊這裡</a>
            </div>
        </div>
    </div>
{% endblock %}
